body {
    background: #232628;
    color: #fafafa;
    overflow: auto;
  }
  h1 {
    display: inline;
    font-size: 10rem;
  }
  .yellow_style{
    color: #c39806;
  }
.make_responsive{
  height:9rem;
}

  * {
    scrollbar-width: thin;
    scrollbar-color: #fafafa #232628;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #232628;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #fafafa;
    border-radius: 20px;
    border: 3px solid #232628;
  }

  @media only screen and (max-width: 600px){
    h1{
      font-size: 5rem;
    }
    #landing{
      display:none;
    }
  }

