<div class="row justify-content-center">
    <div class="card border-secondary mb-3 justify-content-center mt-5"
        style="max-width: 18rem; background-color:#232628; ">
        <div class="card-header card-title text-light mb-n2">
            <h5>Primary card title</h5>
        </div>
        <div class="card-body text-light">

            <p class="card-text">Some quick example text to build on the
                card title and make up the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
    </div>
</div>